<%= form_for current_user, url: profile_path do |f| %>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= f.label :locale %>
        <% I18n.available_locales.each do |locale| %>
          <div class="form-check">
            <%= f.radio_button :locale, locale %>
            <%= f.label :locale, locale, value: locale %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <%= f.submit t('.save'),  class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
