<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<%= t('.copyright')%> &copy; <%= Date.today.year %>
<%= t('.all_rights_reserved')%> | <%= t('.this_is_made')%> <i class="fa fa-heart" aria-hidden="true"></i> <%= t('.by')%> <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
