<div class="align-items-center d-flex justify-content-center vh-100">


  <div class="card shadow mx-auto login-card">
    <div class="card-body">
      <h5 class="card-title"><%= t('.login')%></h5>

      <p class="card-text">
        <%= render partial: 'shared/alerts'%>
      </p>

      <p class="card-text">
        <%= form_for(@person, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.label(:email) %>
          <%= f.text_field(:email, class: 'form-control')%>
        </div>
        <div class="form-group">
          <%= f.label(:password) %>
          <%= f.password_field(:password, class: 'form-control')%>
        </div>

        <%= submit_tag(t('.cta'), class: 'btn btn-primary') %>
        <%= link_to t('shared.back'), root_path, class:'btn btn-link' %>

        <div class="form-group mt-3">
          <%= link_to t('.go_to_registration'), registration_path %>
        </div>
        <% end %>
      </p>
    </div>
  </div>


</div>
