<h1><%= Order.model_name.human(count: 2) %></h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= Order.human_attribute_name(:user) %></th>
        <th scope="col"><%= Order.human_attribute_name(:item_quantity) %></th>
        <th scope="col"><%= Order.human_attribute_name(:status) %></th>
        <th scope="col"><%= Order.human_attribute_name(:total) %></th>
        <th scope="col"><%= Order.human_attribute_name(:dispatched_at) %></th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.user.is_a?(Guest) ? "Guest" : order.user.name %></td>
      <td><%= order.order_items.sum(:quantity) %></td>
      <td><%= order.status.to_s.humanize %></td>
      <td><%= number_to_currency(order.total, unit: "€") %></td>
      <td><%= order.dispatch_at %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
