<nav class="navbar navbar-dark bg-dark sticky-top text-light navbar-fixed">
  <%= link_to "NCI GameStore", root_path, class: "navbar-brand" %>

  <div class="navbar-toolbox">
    <%= navbar_link("fas fa-shopping-basket", t('shared.see_shopping_cart'), "#shopping_cart") if current_user.try(:has_shopping_cart?) %>

    <% if current_user.is_a?(Guest) %>
      <%= navbar_link("fas fa-user-secret", t('shared.abandon'), logout_path) %>
      <%= navbar_link("fas fa-key", t('shared.login'), new_login_path) %>
    <% elsif current_user.is_a?(Person) %>
      <%= navbar_link("fas fa-user", t('navbar.profile'), welcome_profile_path) %>
      <%= navbar_link("fas fa-lock", t('navbar.admin'), admin_root_path) if current_user.admin? %>
      <%= navbar_link("fas fa-power-off", t('shared.logout'), logout_path) %>
    <% else %>
      <%= navbar_link("fas fa-key", t('shared.login'), new_login_path) %>
    <% end %>
  </div>
</nav>
