<div class="product-cart-button-<%= product.id %>">
  <% if in_shopping_cart?(product) %>
    <%= link_to update_shopping_cart_path(product, 'product[quantity]' => 1, 'product[increment]' => true), method: :put, remote: true, class: 'btn btn-info mt-3' do%>
    <i class="fas fa-shopping-cart"></i> <%= t('shared.quantity_cart', number: get_product_amount(product)) %>
    <% end %>
  <% elsif product.in_stock? %>
    <%= link_to update_shopping_cart_path(product, 'product[quantity]' => 1, 'product[increment]' => true), method: :put, remote: true, class: 'btn btn-danger mt-3' do%>
    <i class="fas fa-shopping-cart"></i> <%= t('shared.add_to_cart')%>
    <% end %>
  <% end %>
</div>
