<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Gamestore'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <%= render partial: 'shared/navbar'%>
  <%= render partial: 'shared/cart_widget'%>

  <div id="content" class="container min-vh-100 p-0">
    <div class="row collapse show no-gutters d-flex h-100 position-relative">
      <div class="col-12 pt-4">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
