<!DOCTYPE html>
<html>

<head>
  <title>Gamestore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'shared/navbar'%>

  <div class="container-fluid min-vh-100 p-0">
    <div class="row collapse show no-gutters d-flex h-100 position-relative">
      <div class="sidebar">
        Left Drawer
      </div>

      <div class="col">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
